{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}orders/index{/block}

{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">


            <div class="col-sm-4">
                <div class="btn-group">
                    <a href="{:url('')}" class="btn {:empty($state)?'btn-instagram':'btn-info'}">全部</a>
                    <a href="{:url('',['state'=>1])}" class="btn {:$state==1?'btn-instagram':'btn-info'}">待付款</a>
                    <a href="{:url('',['state'=>2])}" class="btn {:$state==2?'btn-instagram':'btn-info'}">已付款</a>
                    <a href="{:url('',['state'=>3])}" class="btn {:$state==3?'btn-instagram':'btn-info'}">待发货</a>
                    <a href="{:url('',['state'=>4])}" class="btn {:$state==4?'btn-instagram':'btn-info'}">待收货</a>
                    <a href="{:url('',['state'=>5])}" class="btn {:$state==5?'btn-instagram':'btn-info'}">已完成</a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="btn-group">
                    <a href="{:url('',['state'=>$state])}" class="btn {:empty($pay_state)?'btn-instagram':'btn-info'}">全部</a>
                    <a href="{:url('',['state'=>$state,'pay_state'=>1])}" class="btn {:$pay_state==1?'btn-instagram':'btn-info'}">在线付款</a>
                    <a href="{:url('',['state'=>$state,'pay_state'=>2])}" class="btn {:$pay_state==2?'btn-instagram':'btn-info'}">货到付款</a>
                </div>
            </div>

            <div class="col-sm-5">
                <form class="input-group  col-sm-6">
                    <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="请输入订单号">
                    <span class="input-group-btn">
                      <button type="submit" class="btn btn-info btn-flat">搜索</button>
                    </span>
                </form>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="60">#</th>
                        <th width="200">订单号</th>
                        <th width="120">用户名</th>
                        <th width="80">付款方式</th>
                        <th width="80">订单金额</th>
                        <th width="80">支付金额</th>
                        <th width="200">创建时间</th>
                        <th width="100">状态</th>
                        <th width="150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        {php}
                            $m_handle = $vo->getUserHandleAction('m_handle');
                        {/php}
                        <tr>
                            <td>{$vo['id']}</td>
                            <td>{$vo['no']}</td>
                            <td>{$vo['linkUser']['name']}</td>

                            <td>{:\\app\\common\\model\\Order::getPropInfo('fields_pay_way',$vo['pay_way'],'name')}</td>
                            <td>{$vo['money']}</td>
                            <td>{$vo['pay_money']}</td>
                            <td>{$vo['create_time']}</td>
                            <td class="{$vo->getStepFlowInfo($vo['step_flow'],'field',null)} {:\\app\\common\\model\\Order::getPropInfo('fields_status',$vo['status'],'style')}">
                                {$vo->getStepFlowInfo($vo['step_flow'])}
                            </td>
                            <td>
                                <a class="btn btn-xs btn-info " href="{:url('detail',['id'=>$vo['id']])}">订单详细</a>
                                {if(in_array(\app\common\model\Order::M_ORDER_HANDLE_SURE_PAY,$m_handle))}
                                <a href="javascript:;" class="btn  btn-xs btn-primary opt-order" data-href="{:url('surePay')}" data-confirm_title="确定已收到付款?" data-req_data="{id:{$vo['id']}}" >确认付款</a>
                                {/if}
                                {if(in_array(\app\common\model\Order::M_ORDER_HANDLE_DEL,$m_handle))}
                                <a href="javascript:;" class="btn  btn-xs btn-danger opt-order" data-href="{:url('del')}" data-confirm_title="删除订单?" data-req_data="{id:{$vo['id']}}" >删除订单</a>
                                {/if}
                                {if(in_array(\app\common\model\Order::M_ORDER_HANDLE_CANCEL,$m_handle))}
                                <a href="javascript:;" class="btn  btn-xs btn-warning opt-order" data-href="{:url('cancel')}" data-confirm_title="确定取消订单?" data-req_data="{id:{$vo['id']}}" >取消订单</a>
                                {/if}

                                {if(in_array(\app\common\model\Order::M_ORDER_HANDLE_SEND,$m_handle))}
                                <a href="javascript:;" class="btn  btn-xs btn-success opt-order send-order"  data-href="{:url('sendDown')}" data-confirm_title="确定已发货？" data-req_data="{id:{$vo['id']}}" >发货</a>
                                {/if}
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                {$page|raw}
            </div>
    </div>
    <!-- /.error-page -->


<!--发货-->
<div id="send-order" style="display: none;">
    <div class="form-group">
        <label  class="col-sm-3 control-label">发货单号:</label>
        <div class="col-sm-8 margin-bottom">
            <input type="text" maxlength="100" class="form-control" name="no"  placeholder="发货单号">
        </div>
    </div>
    <div class="form-group">
        <label  class="col-sm-3 control-label">物流公司:</label>
        <div class="col-sm-8 margin-bottom">
            <input type="text" maxlength="100" class="form-control" name="company"  placeholder="物流公司">
        </div>
    </div>
    <!-- <div class="form-group">
         <label for="inputPassword3" class="col-sm-3 control-label">运费:</label>
         <div class="col-sm-8 margin-bottom">
             <input type="number"  class="form-control" name="money"  placeholder="0.00">
         </div>
     </div>-->
</div>


{/block}
{block name="script"}
<script>


    $(".opt-order").click(function(){
        var href = $(this).data('href')
        var req_data = $(this).data('req_data')
        var confirm_title = $(this).data('confirm_title')
        req_data = eval('('+req_data+')')

        //订单发货
        if($(this).hasClass('send-order')){
            layui.layer.open({
                type:1
                ,title:'填写发货信息'
                ,btn: ['确认', '取消']
                ,area:['400px','300px']
                ,content:$("#send-order")
                ,yes: function(index, layero){
                    //按钮【按钮一】的回调
                    req_data.logistics={}
                    req_data['logistics']['no']=$("#send-order input[name='no']").val()
                    req_data['logistics']['company']=$("#send-order input[name='company']").val()
                    req_data['logistics']['money']=$("#send-order input[name='money']").val()
                    //请求数据
                    $.common.waitConfirm(confirm_title,href,req_data,'post')
                }
            })
        }else{
            //请求数据
            $.common.waitConfirm(confirm_title,href,req_data)
        }
    })

</script>
{/block}