{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}system/image{/block}

{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">
            <!--<h3 class="box-title">Quick Example</h3>-->
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body">
                <form id="form" action="" class="form-horizontal">
                    <input type="hidden" name="id" value="{$model['id']}"/>

                    <!--<div class="form-group">
                        <label class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select name="type"   class="form-control">
                                {volist name="\app\common\model\Image::getPropInfo('fields_type')" id="vo"}
                                <option value="{$key}" {:$key==$model['type']?'selected':''}>{$vo['name']}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="标题" name="title" value="{$model['title']}" maxlength="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">url</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="url" name="url" value="{$model['url']}" maxlength="100">
                            <span class="help-block text-red">请输入完整的url地址</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">图片</label>
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <input type="hidden" name="img" value="{:empty($model)?'':$model->getData('img')}" />
                                <button type="button" class="layui-btn upload-img" lay-data='{:action('upload/info',['type'=>'brand'])}'>
                                <i class="layui-icon">&#xe67c;</i>图
                                </button>
                                <img width="80" height="80" src="{$model['img']}" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" placeholder="100" name="sort" value="{:$model['sort']?$model['sort']:100}" maxlength="20">
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-10">
                            <label>
                                <input type="radio" name="status" value="1" {:$model['status']!=2?'checked':''} />
                                正常
                            </label>
                            <label>
                                <input type="radio" name="status" value="2" {:$model['status']==2?'checked':''}>
                                关闭
                            </label>
                        </div>
                    </div>
                </form>

            </div>
            <!-- /.box-body -->

        <div class="box-footer">
            <button type="button" onclick="$.common.submitForm()" class="col-sm-offset-2 btn  btn-info">保存</button>
        </div>
    </div>

{/block}
{block name="script"}

<script>
    //引用上传组件
    layui.use(['upload'],function(){
        var upload = layui.upload;
        $.common.fileUpload(upload,'.upload-img')

    })
</script>
{/block}