{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}system/setting{/block}

{block name="content"}
    <div class="row">
        <div class="col-sm-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">常规设置</h4>
                    <button type="button" onclick="$.common.submitForm($('#form-normal'),1)" class="col-sm-offset-2 btn btn-sm btn-warning pull-right">保存</button>
                </div>
                <div class="box-body">
                    <form id="form-normal" action="{:url('settingSave')}" class="form-horizontal">
                        <input type="hidden" name="type" value="normal"/>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">一级分销奖励</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="一级分销奖励" name="content[commission_one_award]" value="{:\\app\\common\\model\\SysSetting::getContent('normal','commission_one_award')}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">提现额度</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="提现额度" name="content[drawwith]" value="{:\\app\\common\\model\\SysSetting::getContent('normal','drawwith')}" >
                                <div class="help-block text-red">满足设置的金额才能提现，为0或空折不限制提现额度</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">vip价格</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="vip价格" name="content[vip_money]" value="{:\\app\\common\\model\\SysSetting::getContent('normal','vip_money')}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">高级vip价格</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" placeholder="高级vip价格" name="content[up_vip_money]" value="{:\\app\\common\\model\\SysSetting::getContent('normal','up_vip_money')}" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">客服电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="客服电话" name="content[tel]" value="{:\\app\\common\\model\\SysSetting::getContent('normal','tel')}" >
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
        <div class="col-sm-6 no-padding">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">其它设置</h4>
                    <button type="button" onclick="$.common.submitForm($('#form-other'),1)" class="col-sm-offset-2 btn btn-sm btn-warning pull-right">保存</button>
                </div>
                <div class="box-body">
                    <form id="form-other" action="{:url('settingSave')}" class="form-horizontal">
                        <input type="hidden" name="type" value="hot_key"/>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品热门关键字</label>
                            <div class="col-sm-10">
                                <textarea name="content" class="form-control" rows="10">{:\\app\\common\\model\\SysSetting::getContent('hot_key')}</textarea>
                                <span class="help-block text-red">一行一个关键字</span>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>

{/block}

{block name="script"}
<script>
    //引用上传组件
    layui.use(['upload'],function(){
        var upload = layui.upload;
        $.common.fileUpload(upload,'.upload-img')
    })


</script>
{/block}