{extend name="base" /}
<!--高亮选中效果-->
{block name="current_index"}goods/index{/block}

{block name="content"}

    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-sm-2">
                <a class="layui-btn layui-btn-sm" href="{:url('add')}">添加商品</a>
            </div>

            <div class="col-sm-10">
                <form  >
                    <div class="col-sm-4 input-group">
                        <input type="text" class="form-control" name="keyword" value="{$keyword}" placeholder="请输入关键字">
                        <span class="input-group-btn">
                          <button type="submit" class="btn btn-info btn-flat">搜索</button>
                        </span>
                    </div>

                    <div class="col-sm-3">

                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th width="40">ID</th>
                        <th width="100">商品分类</th>
                        <th width="250">商品名称</th>

                        {volist name="\app\common\model\User::getPropInfo('fields_type')" id="vo"}
                        <th width="80">{$vo['name']}</th>
                        {/volist}


                        <th width="150">更新时间</th>
                        <th width="100">状态</th>
                        <th width="100">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{$vo['id']}</td>
                            <td>{$vo['link_cate']['name']}</td>
                            <td title="{$vo['name']}">{:mb_strlen($vo['name'],'utf8')>30?mb_substr($vo['name'],0,30,'utf8').'.....':$vo['name']}</td>
                            {volist name="\app\common\model\User::getPropInfo('fields_type')" id="item"}
                            <td>{:$vo['price'.$key]}</td>
                            {/volist}
                            <td>{$vo['update_time']} </td>
                            <td>{:\\app\\common\\model\\Goods::getPropInfo('fields_status',$vo['status'])}</td>
                            <td>
                                <a class="layui-btn layui-btn-sm" href="{:url('add',['id'=>$vo['id']])}">编辑</a>
                                <a class="layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" onclick="$.common.waitConfirm('是否删除该数据?','{:url('del',['id'=>$vo['id']])}')" class="ml-5">  删除</a>
                            </td>
                        </tr>
                        {/volist}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
                {$page|raw}
            </div>
    </div>
    <!-- /.error-page -->
{/block}